<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newton Raphson</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>

<body>
    <h1>Newton Raphson</h1>
    <p>Ingrese la funcion en términos de x (ejemplo: x**2 + 3*x + 1, tambien se puede usar sin,cos, log,exp,etc)</p>
    <form action="/newtonR" method="POST">
        <div class="container">
            <div>
                <label>Función en terminos de x:</label>
                <input class="i_input" type="text" id="expresion" name="expresion" required>
            </div>
            <div>
                <label>Valor inicial de x: </label>
                <input type="number" id="x" name="x" step="any" required>
            </div>
            <div>
                <label>Porcentaje de error deseado:</label>
                <input type="number" id="mistake" name="mistake" step="any" required>
            </div>
            <button type="submit">Calcular</button>
            <button type="button" onclick="limpiar()">Limpiar</button>
            <button type="button" onclick="volver()">Volver</button>
        </div>
    </form>
    <div id="resultados" class="resultados">
    {% if error %}
        <p style="color:red">{{error}}</p>

    {% endif%}
    
    {% if expresion %}

        <h2>Resultados</h2>
        <p><b>Función:</b> {{ expresion }}</p>
        <p><b>Derivada:</b> {{ derivada }}</p>

        <table border="1">
            <tr>
                <th style="padding: 10px;">Iteración</th>
                <th>xi</th>
                <th>Error</th>
            </tr>
            <tr>
                <td>0</td>
                <td>{{x}}</td>
                <td>NA</td>
            </tr>
            {% for result in results %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{ result.xi }}</td>
                    <td>{{ result.error }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>
</body>
<script>
    function limpiar(){
        document.getElementById("resultados").style.display = "none";
    }
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</html>